@import "normalize-styl"
@import "jeet"
@import "nib"
@import "rupture"
@import "variables"

body
    color: $green
    transition: 0.2s linear
    center()

li
    display: inline

+above(1200px)
    body
        color: $yellow
