script.
  !function(e,t,a,n,s){e.GoogleAnalyticsObject=a,e[a]||(e[a]=function(){(e[a].q=e[a].q||[]).push(arguments)}),e[a].l=+new Date,n=t.createElement("script"),s=t.scripts[0],n.src="//www.google-analytics.com/analytics.js",s.parentNode.insertBefore(n,s)}(this,document,"ga"),ga("create","UA-XXXXXXXX-1","example.com"),ga("send","pageview")
script(src="/dist/js/bundle.js")
